*{
    margin: 0;
    padding: 0;
    border: 0;
}
.account_1{
    /* border: 1px solid red; */
    width: 90%;
    display: flex;
    margin: auto;
    color: rgb(74, 74, 74);
}
span{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span  > div{
    font-size: 35px;
    font-weight: bold;
    margin:  0.5cm 2cm;
}
span  img{
    width: 100px;
}
.account_1_item{
    /* border: 1px solid blue; */
    padding: 10px;

}
.account_1_item:nth-child(1){
    width: 40%;
    border-radius: 13px 0 0 13px;

}
.account_1_item:nth-child(2){
    width: 60%;
    border-radius: 0 13px 13px 0;

}
.account_1_item > div{
    display: flex;
    margin: 10px 0;
    padding: 10px;
    align-items: center;
    /* border: 1px solid red; */
    background-color: white;
    border-radius: 10px;
}
.account_1_item > div:nth-child(1)> div{
    cursor: pointer;
}
.account_1_item > div > img{
    width: 25px;
}
.account_1_item > div > p{
    margin-left: 20px;
}

@media screen and (min-width:0px) and (max-width:1000px){
span h1{
    font-size: 25px;
}
span img{
    width: 80px;
}
.account_1_item:nth-child(1){
    width: 45%;
}
.account_1_item:nth-child(2){
    width: 55%;
}
}

@media screen and (min-width:0px) and (max-width:770px){
span h1{
    font-size: 20px;
}
span img{
    width: 65px;
}
.account_1{
    width: 90%;
}
.account_1_item > div:nth-child(1){
    /* border: 1px solid red; */
    display: flex;  
    flex-direction: column-reverse;
    margin-bottom: 1.2cm;
    width: 100%;
}
.account_1_item > div:nth-child(1)> h1{
    text-align: center;
    display: none;
    /* border: 1px solid red; */
}
.account_1_item > div:nth-child(1)> div{
    margin: auto auto -1.2cm auto;
    background-color: white;
}
.account_1_item:nth-child(1){
    width: 100%;
}
.account_1_item:nth-child(2){
    display: none;
}
}
@media screen and (min-width:0px) and (max-width:450px){
span h1{
    font-size: 17px;
}
span img{
    width: 50px;
}
}