.admingrid {
    grid-template-columns: repeat(4, 1fr);
}

.adminsidebar {
    margin-top: 0%;
    flex-direction: column;

}

.form{
    margin: 2% auto;
}

.sidebar {
    width: 18%;
    position: fixed;
    height: 100vh;
}

.labels {
    font-size: large;
}

.labelcont {
    width: 40%;
}

.iconcont {
    width: 10%;

}

.addproductpagecontainer {
    margin-top: 8%;
}

.adminmenproduct {
    grid-template-columns: repeat(3, 1fr);
    gap: "10px"
}

.form {
    width: 50%;
}

.dashboardcont {
    margin-top: 2.2cm;

}

.dash {
    padding: 2%;
    /* width: 82%; */
}



.sidebarcont {
    width: 18%;
    background-color: #2d2d2d;

}

.adminpagedashboardbox {
    width: 82%;
    text-align: center;
    /* border: 1px solid blue; */
}

.usercontainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.formcontainer{
    width: 82%;
}

@media screen and (max-width: 1000px) {
    .admingrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .usercontainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        padding-top: 1cm;

    }

    .icons {
        display: none;
    }

    .labels {
        font-size: large;
    }

    .labelcont {
        text-align: center;
        width: 100%;
    }

    .sections {
        font-size: small;
    }

    .dash {
        margin-top: 0%;
    }

   .form{
    /* margin-top: 3%; */
   }


    .addproductpagecontainer {
        margin-top: 1.8cm;
    }

    .dashboardcont {
        margin-top: 1.8cm;
        /* border: 1px solid red; */
    }

    .sidebarcont {
        background-color: #2d2d2d;
    }

    .adminmenproduct{
        margin-top: 2.5cm;
    }

}

@media screen and (max-width: 550px) {
    .admingrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .usercontainer {
        margin-top: 1cm;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        width: 100%;
        /* border: 1px solid red; */
    }

    .sidebarcont {
        background-color: #2d2d2d;
    }

    .sections {
        font-size: x-small;
        width: 100%;
    }

    .icons {
        margin: auto;
        text-align: center;
        /* padding-left: 4%; */
        display: block;
    }

    .iconcont {
        width: 100%;
        /* margin-left: 40%;
        margin-right: 40%;
        padding-top: 40%; */

        /* border: 1px solid red; */
    }

    .labels {
        display: none;
    }



    .sections:hover {
        font-size: x-small;
        cursor: pointer;
    }

    .sidebarcont {
        width: 100%;
        height: 10vh;

    }

    .sidebar {
        width: 100%;
        height: 10vh;
        position: none;
        padding-top: 5%;
    }

    .sections {
        z-index: 1;
        background-color: #2d2d2d;
    }

    .dash {
        padding: 10%;
    }

    .adminpagedashboardbox {
        width: 1100%;
        margin-top: 3.3cm;
        /* border: 1px solid red; */
    }

    .adminmenproduct{
        margin-top: 1cm;
    }

    .menproductadminside{
        width: 80%;
        height: 90%;
    }

    .addproductpagecontainer {
        margin-top: 0.7cm;
    }

    .adminsidebar {
        flex-direction: row;
    }

    .formcontainer{
        margin-top: 3cm;
        width: 100%;
    }

    .adminordercardcontainer{
        width: 80%;
        text-align: left;
        padding: 1%;
        /* border: 1px solid blue; */
    }

    .sidebarchild{
        width: 25%;
        border: 1px solid red;
    }

    .form{
        /* padding-top: 2%; */
    }

    .sidebar{
        z-index: 10;
    }

}

@media screen and (max-width: 1350px) {

    .formcontainer {
        margin-top: 5%;
    }

    .sidebarcont {
        background-color: #2d2d2d;
    }

    .dash {
        margin-top: 3%;
    }

    .sidebar {
        margin-top: 3%;
    }

    .usercontainer {
        padding-top: 2cm;
    }

    .adminmenproduct{
        margin-top: 1.5cm;
    }

}

@media screen and (max-width: 1024px) {

    .adminmenproduct {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .sidebarcont {
        background-color: #2d2d2d;
    }


}

@media screen and (max-width: 650px) {

    .formcontainer {
        margin-top: 8%;
    }

    .sidebarcont {
        background-color: #2d2d2d;
    }

    .adminmenproduct {
        grid-template-columns: repeat(1, 1fr);
    }

    .form {
        width: 80%;
        margin-top: 0.7cm;
    }

    .dash {
        margin-top: 9%;
    }

    .sidebar {
        margin-top: 9%;
    }

    .dashboardcont {
        margin-top: 0.5cm;

    }

    .adminmenproduct{
        margin-top: 2.5cm;
    }

}

@media screen and (min-width: 1350px) {
    .dashboardcont {
        margin-top: 3.3cm;
    }
}