*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
.nav_part_1{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    background-color: #2D2D2D;
    color: whitesmoke;
    /* background-color: #FF385C; */
    /* background-image: linear-gradient(180deg, #FF385C 0%, #F799BA 100%) */
}
.nav_top_1{
    /* border: 1px solid blue; */
    display: flex;
    width: 25%;
}
.nav_top_1 > div{
    text-align: center;
    width: 100px;
    font-weight: bold;
    padding: 10px;
    align-items: center;
    display: flex;
    /* border: 1px solid green; */
}
.nav_top_1 > div > p{
    font-size: 20px;
    /* font-weight: bold; */
    display: flex;
    /* font-family: papyrus; */
    font-family: Gabriola;
    align-items: center;
}
.nav_top_1 > div > p > h1{
    font-size: 30px;
    font-family: MS PGothic;
}
.nav_top_1 > div:nth-child(2){
    width: 120px;
}
.nav_top_1 > div:nth-child(1){
    display: none;
}
.nav_top_1 > div > img{
    display: block;
    margin: auto;
}
/* nav2 */

.nav_top_2{
    width: 50%;
    display: flex;
    /* border: 1px solid blueviolet; */
    justify-content: space-around;
    align-items: center;
}
.nav_top_2 > input{
    border: 1px solid #333;
    width: 90%;
    height: 40px;
    padding: 15px;
    border-radius: 25px;
}
.nav_top_2 > svg{
    width: 30px;
}
/* nav3 */

.nav_top_3{
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid blueviolet; */
    width: 15%;
    align-items: center;
}
.nav_top_3 > div{
    /* border: 1px solid green; */
    width: 100%;
    align-items: center;
}
.nav_top_3 > div > svg{
    width: 25px;
    margin: auto;
}

/* nav_part_2 */
.nav_part_2{
    /* background-color: #525050; */
    background-color: whitesmoke;
    color: rgb(30, 30, 30);
}
.nav_part_2 > div{
    /* border: 1px solid red; */
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.nav_part_2 > div > div{
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 50px;
    border: none;
    padding: 0 5px;
    margin: 0;
    outline: none;
    border-radius: 0;
    transition: 0.5s ease;
}
.nav_part_2 > div > div:hover{
    color: rgb(0, 130, 130);
}
.nav_part_2 > div > div:nth-child(1){
    color: rgba(0, 161, 156, 0.934);
    font-weight: bolder;
    padding: 3px 13px;
}
.nav_part_2 > div > div:nth-child(1):hover{
    color: #333;
}
/* slide */

.slide{
    width: 37%;
    height: 100vh;
    overflow: scroll;
    background-color: whitesmoke;
    padding: 0 0 2.5cm 0;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.301) 500px 0px 20px 500px;
}
.slide::-webkit-scrollbar{
    display: none;
}
/* side_info */
.side_info > div{
    /* border: 1px solid red; */
    border-bottom: 1.3px solid #b7b7b7;
    display: flex;
    margin: 10px 0;
    padding: 0 5px 0 1px;
    align-items: center;
}
.side_info > div > p{
    margin-left: 13px;
    color: rgb(75, 74, 74);
}