.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    width:90%;
    margin: auto;
    margin-top: 50px;
    align-items: center;
   font-family: Arial, Helvetica, sans-serif;
}
@media screen and (min-width:0px) and (max-width:1060px){
 .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
 }
}

@media screen and (min-width:0px) and (max-width:800px){
 .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
 }
}


@media screen and (min-width:0px) and (max-width:620px){
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
 }
}


@media screen and (min-width:0px) and (max-width:500px){
  .container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
 }
}


@media screen and (min-width:0px) and (max-width:350px){
.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: auto;
    align-items: center;
 }
}