.sidebar_1{
    margin-bottom: 0.5cm;
}
.sidebar_1 > div{
    margin: 10px ;
}
.sidebar_1  img{
    /* border: 1px solid red; */
    width: 100%;
}
.sidebar_1  p{
    position: relative;
    z-index: 10;
    font-size: 18px;
    color: rgb(48, 48, 48);
    left: 15px;
    top: 35px;
    height: 0;
    /* border: 1px solid green; */
}
.side_1_bottom{
    /* border: 1px solid red; */
    margin-top: 0.2cm;
}
.side_1_bottom p{
    position: initial;
}
.side_info{
    margin-top: 1.5cm;
    padding: 0 15px 0 0;
    /* border: 1px solid blue; */
}
.side_info h4{
    margin: 0 20px;
    transition: 0.4s ease;
}
.side_info h4:hover{
    color: rgb(0, 169, 181);
    font-weight: bold;
}

@media screen and (min-width:0px) and (max-width:750px){
.sidebar_1 > div > a > p{
    font-size: 15px;
}
}

@media screen and (min-width:0px) and (max-width:500px){
.sidebar_1 > div > a > p{
    font-size: 14px;
}
}

@media screen and (min-width:0px) and (max-width:350px){
.sidebar_1 > div > a > p{
    font-size: 12px;
}
}