*{
    margin: 0;
    border: 0;
    padding: 0;
}
body::-webkit-scrollbar{
    display: none;
}
.content_1{
    width: 100%;
    /* background-color: #ff385C; */
    /* background-image: linear-gradient(180deg, #ff3257 0%, #ffb6cf 100%); */
    background-image: linear-gradient(180deg, #22c8ff 0%, #c2edff 100%);
    margin-top: 3.2cm;
}
.content_1_01{
    /* border: 1px solid red; */
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    text-align: center;
    font-weight: bold;
}
.content_1_01 > div:nth-child(1){
    border: 2px solid rgb(3, 32, 66);
    width: 120px;
    padding: 5px;
    transition: 0.5s ease;
}
.content_1_01 > div:nth-child(3){
    border: 2px solid rgb(3, 32, 66);
    width: 120px;
    padding: 5px;
    transition: 0.5s ease;
}
.content_1_01 > div:nth-child(1):hover{
    border: 2px solid whitesmoke;
    color: whitesmoke;
}
.content_1_01 > div:nth-child(3):hover{
    border: 2px solid whitesmoke;
    color: whitesmoke;
}
.content_1_02{
    width: 100%;
    text-align: center;
    border-top: 1.2px solid whitesmoke;
}
.content_1_02 > button{
    display: block;
    width: 170px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
    margin: 15px auto;
}
.content_1_02 > h1{
    font-size: 48px;
    color: #000000;
    font-family: futura-pt,FuturaStd,Helvetica,Arial,sans-serif;
    letter-spacing: 1.5px;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    line-height: 48px;
    margin: 20px auto;
}
.content_1_02 > h3{
    font-size: 28px;
    color: #000000;
    margin: 20px auto;
}
.content_1_02 > p{
    font-family: futura-pt,FuturaStd,Helvetica,Arial,sans-serif;
    font-size: 12px;
    letter-spacing: .8px;
    color: var(--flexible-banner-text-color);
    line-height: 16px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
}
/* content_1_03 */
.content_1_03{
    /* border: 1px solid red; */
    width: 85%;
    height: auto;
    margin: 1.5cm auto;
    justify-content: space-evenly;
    display: flex;
}
.content_1_031 > img{
    width: 100%;
    height: 80%;
}
.content_1_031 > p{
    text-align: center;
    background-color: white;
    padding: 7px;
}
/* content_1_04 */

.content_1_04{
    border: 1px solid transparent;
}
.content_1_04 > div{
    width: 170px;
    height: 40px;
    padding: 9px;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    margin: 1cm auto;
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    max-height: 44px;
    transition: 0.5s ease;
}
.content_1_04 > div:hover{
    background-color: #272727;
    color: whitesmoke;
}
/* content_2 */

.content_2{
    width: 95%;
    margin: 1cm auto;
    /* border: 1px solid blue; */
}
.content_2_2{
    height: 0px;
    position: relative;
    top: -5.5cm;
    z-index: 15;
    margin: auto;
}
.content_2_2 > div{
    font-size: 45px;
    width: 500px;
    margin: auto;
    text-align: center;
    letter-spacing: 0.8px;
    font-weight: bold;
    background-color: white;
    padding: 15px;
}
.content_2_2 > button{
    display: block;
    font-size: 25px;
    width:300px;
    margin: 1cm auto;
    text-align: center;
    letter-spacing: 0.8px;
    font-weight: bold;
    background-color: white;
    padding: 15px;
    transition: 0.6s ease;
}
.content_2_2 > button:hover{
    background-color: black;
    color: whitesmoke;
}
/* content_3 */

.content_3{
    width: 95%;
    margin: 1cm auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px 15px;
}
.content_3 > div > h3{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0;
    font-family: futura-pt,FuturaStd,Helvetica,Arial,sans-serif;;
}
.content_3 > div > p{
    text-align: center;
    font-size: 15px;
    font-family: futura-pt,FuturaStd,Helvetica,Arial,sans-serif;;
    font-weight: lighter;
    line-height: 24px;
    letter-spacing: .5px;
}
/* content_4 */

.content_4{
    width: 100%;
    background-color: aquamarine;
    padding: 1cm 0;
}
.content_4 > h2{
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    color: rgb(58, 55, 55);
}
.content_4 > p{
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    color: rgb(69, 69, 69);
    margin: 15px 0 20px 0;
}
.content_4 > div{
    width: 90%;
    margin: 1cm auto;
}
.content_4_1 > div{
    background-color: white;
    padding: 15px;
}
.content_4_1 > div > h3{
    font-size: 16px;
    color: rgb(57, 52, 52);
    font-weight: bold;
}
.content_4_1 > div > p{
    font-size: 14px;
    font-weight: lighter;
    color: rgb(85, 85, 85);
    margin: 10px 0 20px 0;
}
.content_4_1 > div > h6{
    float: right;
    color: rgb(45, 46, 45);
    font-size: 13px;
    font-weight: bolder;
    margin: -13px 5px 0 0 ;
}
.content_4 > button{
    display: block;
    width: 230px;
    height: 50px;
    font-weight: bold;
    background-color: white;
    color: rgb(26, 26, 26);
    font-size: 17px;
    text-align: center;
    padding: 10px;
    margin: 2cm auto 0 auto;
    transition: 0.5s ease;
}
.content_4 > button:hover{
    background-color: rgb(33, 33, 33);
    color: whitesmoke;
}
/* content_5 */

.content_5{
    width: 83%;
    margin: 1cm auto;
    /* border: 1px solid red; */
    display: flex;
}
.content_5 > div{
    width: 100%;
    margin: 10px;
    /* border: 1px solid blue; */
    text-align: center;
}
.content_5 > div > img{
    width: 100%;
}
.content_5 > div > div > h1{
    font-size: 35px;
    font-family: futura-pt,FuturaStd,Helvetica,Arial,sans-serif;
    font-weight: bold;
}
.content_5 > div > div > p{
    font-size: 16px;
    color: rgb(75, 75, 75);
}
.content_5 > div > div > button{
    display: block;
    width: 200px;
    font-weight: bold;
    height: 55px;
    margin: 0.5cm auto;
    border: 1.5px solid rgb(24, 24, 24);
    transition: 0.4s ease;
}
.content_5 > div > div > button:hover{
    background-color: rgb(24, 24, 24);
    color: whitesmoke;
}
/* spotify_banner */

.spotify_banner{
    width: 100%;
    margin: auto;
}
/* content_6 */

.content_6{
    width: 100%;
}
.content_6 > h1{
    text-align: center;
    font-size: 30px;
    margin: 1cm auto;
    font-weight: bold;
}
.content_6 > div{
    width: 95%;
    /* border: 1px solid red; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
}
.content_6 > div > div{
    /* border: 1px solid blue; */
    padding: 5px;
}
.content_6 > div > div > img{
    width: 100%;
}
/* content_7 */

.content_7 > h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 1cm;
}
.content_7 > div{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    margin: 1cm auto 1.5cm auto;
    padding: 10px;
    text-align: center;
}
.content_7 > div > p{
    cursor: pointer;
    font: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    color: rgb(88, 88, 88);
}
/* footer */
footer{
    background-color: #eee;
}
.footer_1{
    background-color: white;
}
.footer_1 > div{
    display: flex;
    width: 60%;
    margin: auto;
    align-items: center;
    color: rgb(191, 191, 191);
    font-weight: lighter;
    justify-content: space-around;
}
.footer_1 > div > img{
    width: 40px;
    margin: 10px;
}
.footer_2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    width: 95%;
    margin: auto;
    padding: 10px;
    /* border: 1px solid red; */
}
.footer_2 > div > h1{
    font-size: 18px;
    font-weight: bold;
    color: rgb(50, 50, 50);
    display: flex;
    margin: 20px 0;
}
.footer_2 > div > p{
    display: flex;
    margin: 10px 0;
    color: rgb(120, 120, 120);
}
.footer_3{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 12px;
    color: rgb(50, 50, 50);
    background-color: #ddd;
}

/* media---------------------- */

@media screen and (min-width:0px) and (max-width:1000px){

.content_1{
    margin-top: 2.1cm;
}
.content_1_02 > h1{
    font-size: 35px;
}
.content_1_02 > h3{
    font-size: 25px;
}
.content_1_02 > p{
    font-size: 11.5px;
}
.content_2_2{
    top: -5.5cm;
}
.content_2_2 > div{
    font-size: 37px;
    width: 450px;
}
.content_2_2 > button{
    width:300px;
    font-size: 23px;
}
.content_3 > div > h3{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0;
    font-family: futura-pt,FuturaStd,Helvetica,Arial,sans-serif;;
}
.content_3 > div > p{
    font-size: 13px;
}
.footer_2 > div > h1{
    font-size: 15px;
}
.footer_2 > div > p{
    font-size: 11px;
}
}

@media screen and (min-width:0px) and (max-width:750px){

.content_1_01{
    display: none;
}
.content_1_02 > h1{
    font-size: 32px;
}
.content_2{
    width: 100%;
}
.content_2_2{
    top: -7cm;
}
.content_2_2 > div{
    font-size: 35px;
    width: 470px;
}
.content_2_2 > button{
    width:300px;
    font-size: 21px;
}
.content_3{
    width: 95%;
    margin: 1cm auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px 20px;
}
.content_3 > div > h3{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
    font-family: futura-pt,FuturaStd,Helvetica,Arial,sans-serif;;
}
.content_3 > div > p{
    font-size: 14px;
}
.content_5{
    display: block;
}
.content_5{
    width: 90%;
}
.content_5 > div > div > h1{
    font-size: 40px;
}
.content_6 > div{
    grid-template-columns: repeat(3,1fr);
}
.content_7 > div{
    width: 95%;
    grid-template-columns: repeat(3,1fr);
    gap: 12px;
    padding: 7px;
}
.content_7 > div > p{
    font: 12px;
}
.footer_1{
    display: none;
}
.footer_2{
    display: none;
}

}

@media screen and (min-width:0px) and (max-width:620px){

.content_1{
    margin-top: 2cm;
}
.content_7 > div{
    width: 95%;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
    padding: 7px;
}
.content_7 > div > p{
    font: 11px;
}
}

@media screen and (min-width:0px) and (max-width:500px){
    .content_1{
        margin-top: 1.8cm;
    }
    .content_1_01{
        display: none;
    }
    .content_1_02 > h1{
        font-size: 26px;
    }
    .content_1_02 > h3{
        font-size: 22px;
    }
    .content_2_2{
        top: -5cm;
    }
    .content_2_2 > div{
        font-size: 22px;
        width: 320px;
        padding: 10px 8px;
    }
    .content_2_2 > button{
        width: 250px;
        font-size: 15px;
        padding: 9px 0;
    }
    .content_3{
        gap: 10px;
    }
    .content_3 > div > h3{
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        padding: 15px 0 7px 0;
        font-family: futura-pt,FuturaStd,Helvetica,Arial,sans-serif;;
    }
    .content_3 > div > p{
        font-size: 12px;
    }
    .content_4 > p{
        font-size: 12px
    }
    .content_5 > div > div > h1{
        font-size: 31px;
    }
    .content_5 > div > div > p{
        font-size: 12px;
    }
    .content_5 > div > div > button{
        width: 150px;
        font-size: 14px;
        height: 50px;
    }
    .content_6 > div{
        grid-template-columns: repeat(2,1fr);
    }
    .content_7 > div{
        width: 95%;
        grid-template-columns: repeat(1,1fr);
        gap: 12px;
        padding: 7px;
        text-align: initial;
    }
    .content_7 > div > p{
        font: 13px;
        border-bottom: 1px solid grey;
    }

}

@media screen and (min-width:0px) and (max-width:350px){

    .content_1_01{
        display: none;
    }
    .content_1_02 > h1{
        font-size: 32px;
    }
    .content_2_2{
        top: -4.5cm;
    }
    .content_2_2 > div{
        font-size: 17px;
        width: 270px;
        padding: 10px 8px;
    }
    .content_2_2 > button{
        width: 180px;
        font-size: 13px;
        padding: 9px 0;
    }
    .content_3 > div > h3{
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        padding: 15px 0 0 0;
        font-family: futura-pt,FuturaStd,Helvetica,Arial,sans-serif;;
    }
    .content_3 > div > p{
        font-size: 10px;
    }
    .content_4 > h2{
        font-size: 20px;
        margin: 10px;
    }
    .content_4 > p{
        font-size: 9px
    }
    .content_5 > div > div > h1{
        font-size: 31px;
    }
    .content_5 > div > div > p{
        font-size: 12px;
    }
    .content_5 > div > div > button{
        width: 150px;
        font-size: 14px;
        height: 50px;
    }
    .footer_3{
        font-size: 10px
    }

}